.search-box {
    background-color: white;
    z-index: 100;
    transform: translateY(-100%);
}
.search-box form {
    transform: translate(-50%, -50%);
    width: 80%;
}
.search-box.openit {
    transform: translateY(0);
}
.bg-over {
    z-index: 90;
}
.search-box label {
    width: 100%;
}
.move-up {
    animation-name: moveUp;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

.my-search-scroll::-webkit-scrollbar {
    width: 10px;
}
.my-search-scroll::-webkit-scrollbar-thumb{
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    border: 2px solid white;
}
.hidden-c {
    display: none;
}
.no-scroll::-webkit-scrollbar {
    height: 0px;
}

@keyframes moveUp {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.4);
    }
}